---
import { getCollection } from 'astro:content';

import BaseLayout from '@layouts/BaseLayout.astro';
import BaseResponsive from '@layouts/BaseResponsive.astro';

import { EntryType } from 'src/constants/entryTypes';
import { Image } from 'astro:assets';
import { buildBlogUrl } from 'src/utils/urlUtils';
import { generateTitle } from 'src/utils/titleUtils';

import './_blog.css';

export async function getStaticPaths() {
	const blogEntries = await getCollection(EntryType.BLOG);
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.subtitle}>
	<link
		slot="head"
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Noto+Serif+Thai:wght@100..900&display=swap"
	/>
	<!-- <link
		slot="head"
		rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap"
	/> -->
	<link
		slot="head"
		href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped:wght@300;500&display=swap"
		rel="stylesheet"
	/>

	<meta slot="head" property="og:title" content={generateTitle(entry.data.title)} />
	<meta slot="head" property="og:type" content="article" />
	<meta slot="head" property="og:description" content={entry.data.subtitle} />
	<meta slot="head" property="og:url" content={buildBlogUrl(Astro.site?.href, entry.slug)} />
	<meta slot="head" property="og:image" content={entry.data.cover?.image.src} />

	<BaseResponsive>
		<article id="blogPost">
			<header>
				<h1 class="text-5xl font-semibold -ml-0.5">{entry.data.title}</h1>
				<div class="mt-2 font-heading">
					<time datetime={entry.data.pubDate.toISOString().split('T').at(0)}>
						{new Intl.DateTimeFormat(entry.data.lang, { dateStyle: 'medium' }).format(new Date(entry.data.pubDate))}
					</time>
					{' · '}
					{entry.data.lang.includes('th') ? 'ธรรมฤทธิ์ ลิขิตธีรเมธ' : 'Thammarith Likittheerameth'}
				</div>
				{
					entry.data.cover?.image && (
						<div class="flex items-center justify-center max-w-[100vw] w-[100vw] left-[50%] right-[50%] -ml-[50vw] -mr-[50vw] relative mt-12">
							<Image
								src={entry.data.cover.image}
								alt={entry.data.cover.alt}
								class="max-w-[96ch] w-screen lg:rounded-lg"
							/>
						</div>
					)
				}
			</header>
			<section id="blogContent" class="mt-6 font-['Noto_Sans_Thai_Looped'] font-normal text-lg">
				<Content />
			</section>
		</article>
		<!-- TODO: Add correction notice -->
		<!-- <section class="p-4 rounded-md bg-slate-200 text-neutral-700">
			If you notice an error, please let me know on <a href="https://github.com/thammarith/thammarith.github.io/issues/new" target="_blank">GitHub</a>.
		</section> -->
	</BaseResponsive>
</BaseLayout>
